$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$large-screens-min-width: 1440px;
$effectDuration: 0.3s;
$main-background-color: #ecf0f1;
$dark-grey-color: #34495e;
$dark-blue-color: #2c3e50;
$red-color: #e74c3c;