@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.table,
.table__row,
.table__data {
  border: 1px solid $dark-grey-color;
}

.table {
  margin-top: 20px;
  width: 100%;
}

.table__row,
.table__data {
  height: 35px;
  padding-inline: 5px;
  font-size: 14px;

  @include onTablet {
    height: 40px;
    font-size: 20px;
  }

  @include onDesktop {
    height: 50px;
    font-size: 24px;
  }
}

.table__data {
  background-color: $main-background-color;
}

.select {
  margin: 0;
  width: min-content;
  height: 35px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  @include onTablet {
    height: 50px;
    font-size: 20px;
  }

  @include onDesktop {
    font-size: 24px;
  }
}

.filter-wrapper {
  display: flex;
  gap: 10px;
  justify-content: start;
  margin-top: 20px;
  @include onTablet {
    gap: 15px;
  }

  @include onDesktop {
    gap: 20px;
  }
}

.pages-wrapper {
  margin-block: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.page-item {
  border: 1px solid $dark-grey-color;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color, transform, 0.3s;
  background-color: $main-background-color;

  &:hover {
    background-color: #000;
    color: $main-background-color;
    transform: scale(1.1);
  }

  &:active {
    background-color: $red-color;
    color: $main-background-color;
  }

  &--active {
    background-color: $dark-grey-color;
    color: $main-background-color;
  }
}
