@import "../../styles/mixins.scss";
@import '../../styles/variables.scss';

.container-history {
    width: 100%;
    height: 250px;
    border: 1px solid $dark-grey-color;
    font-size: 18px;
    font-weight: 400;
    background-color: $main-background-color;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;

    @include onTablet {
        margin-top: 245px;
        grid-column: 2 / -1;
        margin-bottom: 0;
    }

    &__item {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        letter-spacing: -10%;
        cursor: pointer;
        background-color: white;
        transition: background-color, 0.3s;

        &:hover {
            background-color: #b0abab;
            color: white;
        }

        &--active {
            background-color: #000;
            color: white;
        }
    }

    &__button {
        position: sticky;
        width: 160px;
        padding-block: 7px;
        top: 193px;
        left: 450px;
        cursor: pointer;
        background-color: $dark-grey-color;
        border: 1px solid $dark-grey-color;
        transition: background-color, 0.3s;
        text-transform: uppercase;
        color: $main-background-color;

        &:hover {
            background-color: #000;
            color: $main-background-color;
        }
    
        &:active {
            background-color: $red-color;
            color: $main-background-color;
        }
    }
}